#loginField {
  overflow: hidden;
    display:none;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
#registrField {
  overflow: hidden;
    display:none;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
#createField {
  overflow: hidden;
    display:none;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.custom_plus {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.logout {
    display: inline;
}
.loginopener {
    display: none;
}
.regopener {
    display: none;
}
.headerdiv {
    height: 40px;
    position: relative;
}
.header {
    border-bottom: 2px;
}
.headerUl {
    text-align: end;
}
.div1 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.a-c {
    text-align: center;
}
.branchDiv {
    text-align: center;
    max-width: 360px;
    margin: 0 10px;
    min-height: 100px
}
.branchtext {
    margin: 13px 0;
    white-space: normal;
    font-size: 45px;
    font-weight: 600;
}
.del {
    display: none;
    border-radius: 100px;
}
.branchDiv:hover .del {
    display: block;
}
.theme:hover .deltheme {
    display:block;
}
.task:hover .deltask{
    display: block;
}

a {
    text-decoration: none;
}
