<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ответы</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/branches.css" type="text/css"/>
    <!--script src="../resources/answer.js" type="text/javascript"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="header border-bottom border-dark border-3">
    <div class="container headerdiv">
        <div class=" col col-2 d-inline float-left h-100 clearfix position-relative">
            <div class="align-middle">
                <a id="hmenu" class="btn " href="http://localhost:8080/home">Home</a>
            </div>
        </div>
        <div class="col-5 d-inline  float-left h-100 clearfix position-relative">
            <div class=" btn d-inline mx-2 border border-1 border-dark">
                <a class="" href="http://localhost:8080/requests/{{.UName}}">Запросы</a>
            </div>
            <div class="h-100 btn d-inline mx-2 border border-1 border-dark">
                <a href="http://localhost:8080/answers/{{.UName}}">Ответы</a>
            </div>
            <div class="h-100 btn d-inline mx-2 border border-1 border-dark">
                <a href="http://localhost:8080/branches/{{.UName}}">Ветки</a>
            </div>
        </div>
        <div class="col col-5 d-inline float-right h-100 clearfix position-relative ">
            <ul class="headerUl">
                <li class="logout">
                    <p class="navbar-text d-inline pr-4">
                        Welcome
                        <span id="userinfo">{{ .UName}}</span>
                    </p>
                    <p class="navbar-text d-inline"><a id="logout" href="http://localhost:8080/logout">Logout</a></p>
                    <form id="logout-form" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col d-flex justify-content-center">
    <h2 class="display-2">
        Ответы
    </h2>
</div>

<table class="table table-hover">

    <thead>
    <tr>
        <th scope="col">Задание</th>
        <th scope="col">Отправитель</th>
        <th scope="col">Ответ</th>
        <th scope="col">ID вопроса</th>
    </tr>
    </thead>

    <tbody>
    {{range .CAU}}
        <tr data-toggle="modal" data-target="#modal{{.Number}}">
            <th scope="row">{{.Number}}</th>
            <td>{{.Username}}</td>
            <td>{{.Answer.File}}</td>
            <td>{{.Answer.Idtask}}</td>
        </tr>
    {{end}}
    {{range .CAU}}
        <div class="modal fade" id="modal{{.Number}}"> <!--сюда должно приходить число(колво веток)-->
            <div class="modal-dialog  modal-md">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Принимаем?</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <a href="http://localhost:8080/answers/{{.Username}}/{{.Answer.Idanswer}}/right">
                            <div class="btn btn-light right-ans"
                                 onmouseover="this.style.background = 'rgba(0,225,0,0.3)'"
                                 onmouseout="this.style.background = '#f8f9fa'">Правильно
                            </div>
                        </a>
                        <a href="http://localhost:8080/answers/{{.Username}}/{{.Answer.Idanswer}}/wrong">
                            <div class="btn btn-light wrong-ans"
                                 onmouseover="this.style.background = 'rgba(225,0,0,0.3)'"
                                 onmouseout="this.style.background = '#f8f9fa'">Неправильно
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {{end}}
    </tbody>

</table>

</body>

</html>
