<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
            integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/branches.css">
    <script src="../resources/branches.js"></script>
    <title>BranchMain</title>
</head>
<body>
<div class="header border-bottom border-dark border-3">
    <div class="container headerdiv">
        <div class=" col col-2 d-inline float-left h-100 clearfix position-relative">
            <div class="align-middle">
                <a id="hmenu" class="btn " href="http://localhost:8080/home">Home</a>
            </div>
        </div>
        <div class="col-5 d-inline  float-left h-100 clearfix position-relative">
            <div class=" btn d-inline mx-2 border border-1 border-dark">
                <a class="" href="http://localhost:8080/requests/{{.UName}}">Запросы</a>
            </div>
            <div class="h-100 btn d-inline mx-2 border border-1 border-dark">
                <a href="http://localhost:8080/answers/{{.UName}}">Ответы</a>
            </div>
            <div class="h-100 btn d-inline mx-2 border border-1 border-dark">
                <a href="http://localhost:8080/branches/{{.UName}}">Ветки</a>
            </div>
        </div>
        <div class="col col-5 d-inline float-right h-100 clearfix position-relative ">
            <ul class="headerUl">
                <li class="logout">
                    <p class="navbar-text d-inline pr-4">
                        Welcome
                        <span id="userinfo">{{ .UName}}</span>
                    </p>
                    <p class="navbar-text d-inline"><a id="logout" href="http://localhost:8080/logout">Logout</a></p>
                    <form id="logout-form" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="div1">
    <div class="container a-c">
        <h2>Список веток</h2>
    </div>
</div>
<div class="my_plus">
    <div class="container headerUl">
        <div class="position-relative d-table align-end m-0 ml-auto">
            <div id="createBranch" class="bg-info border border-1 border-dark custom_plus btn p-0 pt-1">
                <svg width="24px" height="24px" viewBox="0 0 24 24" class="bi bi-plus a-c" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg" style="position: relative;">
                    <g class="position-absolute" stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                       stroke-linecap="square" style="left: 10%; top:10%;">
                        <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                            <path d="M0,11 L22,11"></path>
                            <path d="M11,0 L11,22"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>
<div id="createField" class="position-absolute w-100 top-0" style="z-index: 1">
    <div class="container">
        <div class="mx-auto w-100" style="max-width: 860px;">
            <div class="vh-100 align-middle d-table-cell position-relative" style="width: 860px;">
                <div class="a-c mx-auto bg-light pb-3 px-3 createForm" style="width: 400px;">
                    <h2 class="text-danger createForm">Create form</h2>
                    <form class="createForm" action="http://localhost:8080/branches/{{.UName}}/create" method="post">
                        <div class="form-group createForm">
                            <label class="createForm" for="create">Name Branch</label>
                            <input id="create" class="form-control createForm" name="name"/>
                        </div>
                        <button type="submit" id="btn-createbr" class="btn btn-primary mt-3">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="container clearfix p-0">
            <div class="position-relative clearfix ">
                {{range .Branches}}
                    <div class="branchDiv w-100 border border-2 float-left border-dark a-c d-inline position-relative mb-3">
                        <div id="del" class="position-absolute right-0 border border-1 border-dark del bg-danger" style="width: 40px; height: 40px; transform: rotate(-45deg);">
                            <a href="http://localhost:8080/branches/{{.Username}}/{{.Idbranch}}/delete">
                                <div class=" position-relative btn" style="right: 16%; bottom: 5%;">
                                    <svg  width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class> <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"> <g transform="translate(1.000000, 1.000000)" stroke="#222222"> <path d="M0,11 L22,11"></path> <path d="M11,0 L11,22"></path> </g> </g> </svg>
                                </div>
                            </a>
                        </div>
                        <a class="h-100 btn w-100" href="http://localhost:8080/branches/{{.Username}}/{{.Idbranch}}">
                            <div class="position-relative branchtext">{{.Name}}</div>
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
</body>
</html>