<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Поиск работодателя</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="css1.css" type="text/css"/>
        <script src="js1.js" type="text/javascript"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </head>
    
    <body>
        
        <div class="col d-flex justify-content-center">
            <h2 class="display-2">
                Название компании <!--сюда должно приходить название компании-->
            </h2>
        </div>
        
        <div class="container-fluid" style="position: relative; overflow: auto">
            
            <div class="row row-cols-4 row-cols-md-3 g-2 d-flex justify-content-center">
                <!-- Card to Open the Modal -->
                <div class="col col-md-3">
                    
                    <div class="card" onclick="document.location.href='comp.html'">
                        <div class="card-header text-center">Название компании1</div> <!--сюда должно приходить число(номер задания)-->
                        <div class="card-body text-center">
                            <p class="card-text">Краткая инфа</p> <!--сюда должно приходить краткое описание компании-->
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </body>
    
</html>