html,
body {
  height: 100%;
}

nav {
  background-color: rgb(123, 193, 211);
}

.authorization {
  padding-top: 100px;
  height: 500px;
  padding-bottom: 100px;
}

footer {
  background-color: rgb(123, 193, 211);
  height: 200px;
}
